*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Space Mono', monospace;
}

body{
    height: 95.9vh;
    background: #dc2424; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2424, #4a569d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2424, #4a569d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.todo-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-form{
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
   
    align-items: center;
}
.todo-input{
    width: 28vw;
    height: 50px;
    border: none;
    font-size: 1.7rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
    padding: 5px;
}
.todo-button{
    height: 50px;
background-color:#20EEB0;
width: 70px;
border: none;
outline: none;
cursor: pointer;
border-bottom-right-radius: 7px;
border-top-right-radius: 7px;
transition: 0.5s ease;

}

.todo-button:hover{
    background-color: #144839;
}
.plus-icon{
    width: 40px;    
    height: 40px;    
}
.todo-row {
    font-size: 1.6rem;
     background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 50px;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top:10px ;
}
.icons{
    height: 100%;
    width: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cheked-icon{
    transform: scale(1.5);
    color: green;
    transition: 0.7s ease;
    cursor: pointer;
}
.delete-icon{
    color: red;
    transform: scale(1.5);
    transition: 0.7s ease;
    cursor: pointer;
}
.cheked-icon:hover, .delete-icon:hover{
    transform: scale(1.3);
}